{
  "env": {
    "development": {
      "presets": ["env", "react", "stage-1"],
      "plugins": ["add-module-exports"]
    },
    "test": {
      "presets": ["env", "react", "stage-1"],
      "plugins": ["add-module-exports"]
    },
    "production": {
      "presets": ["env", "react", "stage-1"],
      "plugins": ["add-module-exports"]
    },
    "es": {
      "presets": [["env",{ "modules": false }], "react", "stage-1"]
    }
  }
}
