{
  "extends": ["okonet/node"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "node/no-unpublished-require": 0,
    // Import
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": [
          "webpack*.js",
          "**/*.spec.js",
          "**/*.config.js",
          "**/testSetup.js"
        ]
      }
    ]
  }
}
