# See http://help.github.com/ignore-files/ for more about ignoring files.

# Logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# OS
.DS_Store

# Direnv
.envrc

# Build & test output
dist
coverage
site

# Vocs generated artifacts
.vocs
docs/.vocs
docs/pages.gen.ts

# Misc
*.tgz
.idea
